import { Mapper } from 'src/core/core-interface/mapper';
import { {{#pascalCase}}{{className}}{{/pascalCase}}DBO } from '@data/datasource/{{className}}/local/dbo/{{className}}';
import { {{#pascalCase}}{{className}}{{/pascalCase}}Entity } from '@models/{{className}}/{{className}}-entity';

export class DboToEntityRepositoryMapper extends Mapper<
  {{#pascalCase}}{{className}}{{/pascalCase}}DBO,
  {{#pascalCase}}{{className}}{{/pascalCase}}Entity
> {

  mapTo(param: {{#pascalCase}}{{className}}{{/pascalCase}}DBO): {{#pascalCase}}{{className}}{{/pascalCase}}Entity {
    return {
      data: param.data,
    };
  }

  mapFrom(param: {{#pascalCase}}{{className}}{{/pascalCase}}Entity): {{#pascalCase}}{{className}}{{/pascalCase}}DBO {
    return {
      data: param.data,
    };
  }
}
