import { Mapper } from 'src/core/core-interface/mapper';
import { {{#pascalCase}}{{className}}{{/pascalCase}}DBO } from '@data/datasource/{{#kebabCase}}{{className}}{{/kebabCase}}/local/dbo/{{#kebabCase}}{{className}}{{/kebabCase}}';
import { {{#pascalCase}}{{className}}{{/pascalCase}}Entity } from '@models/{{#kebabCase}}{{className}}{{/kebabCase}}/{{#kebabCase}}{{className}}{{/kebabCase}}-entity';

export class DboToEntityRepositoryMapper extends Mapper<
  {{#pascalCase}}{{className}}{{/pascalCase}}DBO,
  {{#pascalCase}}{{className}}{{/pascalCase}}Entity
> {

  mapTo(param: {{#pascalCase}}{{className}}{{/pascalCase}}DBO): {{#pascalCase}}{{className}}{{/pascalCase}}Entity {
    return {
      data: param.data,
    };
  }

  mapFrom(param: {{#pascalCase}}{{className}}{{/pascalCase}}Entity): {{#pascalCase}}{{className}}{{/pascalCase}}DBO {
    return {
      data: param.data,
    };
  }
}
