import { Injectable } from '@angular/core';
import { Observable, of, switchMap } from 'rxjs';
import { {{#pascalCase}}{{className}}{{/pascalCase}}Repository } from '@repositories/{{className}}/{{className}}.repository';
import { {{#pascalCase}}{{className}}{{/pascalCase}}Entity } from '@models/{{className}}/{{className}}-entity';
import { {{#pascalCase}}{{className}}{{/pascalCase}}LocalDataSource } from '@data/datasource/{{className}}/source/{{className}}-local-datasource';
import { {{#pascalCase}}{{className}}{{/pascalCase}}RemoteDataSource } from '@data/datasource/{{className}}/source/{{className}}-remote-datasource';

@Injectable()
export class {{#pascalCase}}{{className}}{{/pascalCase}}ImpRepository
  extends {{#pascalCase}}{{className}}{{/pascalCase}}Repository {

  constructor(
    private localDataSource: {{#pascalCase}}{{className}}{{/pascalCase}}LocalDataSource,
    private remoteDataSource: {{#pascalCase}}{{className}}{{/pascalCase}}RemoteDataSource
  ) {
    super();
  }

  override get{{#pascalCase}}{{className}}{{/pascalCase}}(
    params: string
  ): Observable<{{#pascalCase}}{{className}}{{/pascalCase}}Entity> {
    return this.localDataSource.get{{#pascalCase}}{{className}}{{/pascalCase}}(params).pipe(
      switchMap((localData) =>
        localData
          ? of(localData)
          : this.remoteDataSource.get{{#pascalCase}}{{className}}{{/pascalCase}}(params)
      )
    );
  }
}
